@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(OpenSans-Regular.ttf);
}

.zinvisible {
  z-index: -10000;
}

.active {
  background-color: #3f51b5 !important;
}

.left {
  position: fixed;
  top: 3px;
  left: 5px;
  -webkit-app-region: no-drag;
}

.right {
  position: fixed;
  top: 3px;
  right: 5px;
  -webkit-app-region: no-drag;
}

/* detete */
#navbuttons {
  position: absolute;
  top: 13px;
  left: 0;
  height: 30px;
  width: 184px;
}

#navbuttons button {
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  margin-left: 2px;
}

/* detete */

#titlebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  -webkit-app-region: drag;
}

#titlebar button {
  height: 26px;
  width: 26px;
  min-width: 26px;
  padding: 0;
}

#titlebar i {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
}

#leftpanel {
  position: fixed;
  top: 87px;
  left: 8px;
  width: 56px;
  height: calc(100% - 97px);
}

#leftpanel button {
  overflow: visible;
  -webkit-app-region: no-drag;
  margin-bottom: 8px;
}

#content {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 32px;
  left: 72px;
  width: calc(100% - 72px);
  height: calc(100% - 32px);
}

#content webview {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 0.75s;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.75s;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 0.75s;
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 0.75s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.25s;
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
