@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(OpenSans-Regular.ttf);
}

.block {
  display: block;
}

.left {
  position: fixed;
  top: 3px;
  left: 5px;
  -webkit-app-region: no-drag;
}

.right {
  position: fixed;
  top: 3px;
  right: 5px;
  -webkit-app-region: no-drag;
}

.roboto {
  font-family: "Roboto" !important;
  font-size: 14px !important;
}

.settingsButton {
  position: fixed;
  bottom: 8px;
  left: 20px;
}

.settingsButton.active {
  color: rgb(68, 138, 255) !important;
}

.wbcontainer {
  border-radius: 50%;
  height: 56px;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: visible;
  position: relative;
  -webkit-app-region: no-drag;
  margin-left: 8px;
  margin-bottom: 8px;
}

#content {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 32px;
  left: 72px;
  width: calc(100% - 72px);
  height: calc(100% - 32px);
}

#content webview {
  position: absolute;
  width: 100%;
  height: 100%;
}

#dragRegion {
  position: fixed;
  top: 0;
  left: 0;
  height: 32px;
  width: 100%;
  -webkit-app-region: drag;
}

#leftpanel {
  position: fixed;
  top: 87px;
  left: 0;
  width: 72px;
  height: calc(100% - 135px);
}

#leftpanel .active {
  background-color: #3f51b5 !important;
}

#navbuttons {
  position: fixed;
  height: 30px;
  width: 184px;
}

#navbuttons button {
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  margin-left: 2px;
}

#titlebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
}

#titlebar button {
  height: 26px;
  width: 26px;
  min-width: 26px;
  padding: 0;
}

#titlebar i {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
}
