matrix:
  include:
    - os: osx
      language: node_js
      node_js: "10"
      before_install:
        - sudo Xvfb :99 -ac -screen 0 1600x900x32 & sleep 3
    - os: linux
      dist: trusty
      sudo: false
      language: node_js
      node_js: "10"
      before_install:
        - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.9.4
        - export PATH=$HOME/.yarn/bin:$PATH
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
git:
  depth: 1
env:
  secure: k48KjQkgaJywEA9mmnOnF2NdAvTfkKOPKF8TQ6XNVwoShqGWpPZfIesbAJ+MlUekFU9WvWFX1FqoIn4sJfqjY8rx43Rvka0uu1z+rRiTX9Wno/Z37GcKuoXkg5UpOWcuBWEOCyBthrhr8vspfeMfbewtRB56xpH5YtXlEO3vitXMYHMsEFDwc5x7ZSaOB5NR+vpyyPbEFUSczjuQFCDZm+JKzMqPZesC23itaFADvUtk7NGAtqVhysrxMzYVADeZgo4z1Cvf8trVKXkM3VY8vAq+FPTsonve4MDcpRQkPj2cLsgptQvvpnmFTZaoP3iwppExtR0UMfg/R7GzZM9aR2pP5tU+X1XaXwWg1dcDSpcGW1UEwjufBOUWEpIA15RB0iIAiIhaQEDv0NcTRitC3JJdmGTcdCbAEK/Hr08kGXeb0PHzTnOcaH65cu+q53Jpn963dwjSVDTkn5oYOi4UMkUB3noamytgcEE0GSLWm/iqBju6t7zY566f9u35ais5aHlncvEVPc9AQyVVYA+e7mxhrzm05a84WH0l02w3nYVDsR5AvkKs3uvX8YP2B1/52Tt+OnPtyKVsvUt5/nvCg8iM1uE35lxHWk2pBEWNs/SOrjNuhITAYINru/A63Agj+KUG8NJ3qgHhCYrBZUA0wxnoPmvTO2jYIYg2YGawjWA=
before_script:
  - yarn global add codecov
  - yarn lint
  - yarn cover
  - codecov
script:
  - if [ $TRAVIS_BRANCH = "master" ]; then yarn run dist --x64; else yarn run build --x64; fi
notifications:
  email: false
