jobs:
  - job: Linux
    pool:
      vmImage: "ubuntu-16.04"
    steps:
      - task: NodeTool@0
        displayName: "Use Node 10"
        inputs:
          versionSpec: 10.x
      - task: geeklearningio.gl-vsts-tasks-yarn.yarn-installer-task.YarnInstaller@2
        displayName: "Use Yarn 1.x"
        inputs:
          checkLatest: true
      - script: yarn
        displayName: "Yarn install"
      - script: yarn lint
        displayName: "Lint"
      - script: yarn cover
        displayName: "Run tests with coverage report"
      - script: yarn global add codecov
        displayName: "Install codecov"
      - script: codecov
        displayName: "Upload coverage report"
      - script: yarn build --x64
        displayName: "Build"

  - job: macOS
    pool:
      vmImage: "xcode9-macos10.13"
    steps:
      - task: NodeTool@0
        displayName: "Use Node 10"
        inputs:
          versionSpec: 10.x
      - task: geeklearningio.gl-vsts-tasks-yarn.yarn-installer-task.YarnInstaller@2
        displayName: "Use Yarn 1.x"
        inputs:
          checkLatest: true
      - script: yarn
        displayName: "Yarn install"
      - script: yarn lint
        displayName: "Lint"
      - script: yarn cover
        displayName: "Run tests with coverage report"
      - script: yarn global add codecov
        displayName: "Install codecov"
      - script: codecov
        displayName: "Upload coverage report"
      - script: yarn build --x64
        displayName: "Build"

  - job: Windows
    pool:
      vmImage: "vs2017-win2016"
    steps:
      - task: NodeTool@0
        displayName: "Use Node 10"
        inputs:
          versionSpec: 10.x
      - task: geeklearningio.gl-vsts-tasks-yarn.yarn-installer-task.YarnInstaller@2
        displayName: "Use Yarn 1.x"
        inputs:
          checkLatest: true
      - script: yarn
        displayName: "Yarn install"
      - script: yarn lint
        displayName: "Lint"
      - script: yarn cover
        displayName: "Run tests with coverage report"
      - script: yarn global add codecov
        displayName: "Install codecov"
      - script: codecov
        displayName: "Upload coverage report"
      - script: yarn build --x64
        displayName: "Build"
