html,
body {
  height: 100%;
  width: 100%;
}

webview {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

.btn {
  font-size: 25px;
  min-height: 50px;
  min-width: 50px;
}

#row {
  height: 100%;
}

#sidepanel {
  width: 70px;
  max-width: 70px;
  height: 100%;
}

#main {
  width: calc(100% - 70px);
  height: 100%;
}
