html,
body {
  /* background-color: #444444; */
  height: 100%;
  width: 100%;
}

webview {
  height: 100%;
}

.hidden {
  height: 0 !important;
  width: 0 !important;
  visibility: hidden !important;
}

.container-fluid {
  height: 100%;
}

.shadow {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.btn {
  padding: 0 0 0 0;
}

.heightcorrection {
  height: calc(100% - 2px) !important;
}

#titlebar {
  /* background: rgba(34, 34, 34, 0.4); */
  height: 25px;
  -webkit-app-region: drag;
  /* z-index: 2000;*/
}

#windowbuttons {
  -webkit-app-region: no-drag;
}

#sidepanel .btn {
  line-height: 1;
  height: 50px;
  width: 50px;
}

#sidepanel .btn i {
  font-size: 25px;
}

#titlebar .btn {
  margin-top: -1px;
  box-shadow: 0 0 0 #000;
  border-radius: 0;
  background: inherit;
  height: 25px;
  width: 25px;
}

#titlebar .btn i {
  font-size: 13px;
}

#main {
  height: calc(100% - 27px);
}

#sidepanel {
  width: 70px;
  max-width: 70px;
  height: 100%;
}

#content {
  width: calc(100% - 72px);
  height: 100%;
}
