/* html,
body {
  height: 100%;
  width: 100%;
}

.webview {
  height: 100%;
}

.hidden {
  height: 0 !important;
  width: 0 !important;
  visibility: hidden !important;
} */
#titlebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  -webkit-app-region: drag;
}

#leftpanel {
  position: fixed;
  top: 110px;
  left: 0;
  width: 80px;
  height: calc(100% - 110px);
}

#content {
  position: fixed;
  top: 60px;
  left: 80px;
  width: calc(100% - 110px);
  height: calc(100% - 90px);
}

#content .webview {
  position: fixed;
  top: 60px;
  left: 80px;
  width: calc(100% - 110px);
  height: calc(100% - 90px);
}
