@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(OpenSans-Regular.ttf);
}

#titlebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  -webkit-app-region: drag;
}

#windowtitle {
  padding-top: 7.5px;
  letter-spacing: 0.3px;
  font-family: "Open Sans";
}

#windowbuttons {
  position: fixed;
  top: 5px;
  right: 5px;
  -webkit-app-region: no-drag;
}

#windowbuttons button {
  height: 25px;
  width: 25px;
  min-width: 25px;
  padding: 0;
}

#windowbuttons i {
  position: absolute;
  top: 4.5px;
  left: 4.5px;
  font-size: 16px;
}

#leftpanel {
  position: fixed;
  top: 87px;
  left: 8px;
  width: 64px;
  height: calc(100% - 97px);
}

#rightpanel {
  position: fixed;
  bottom: 12px;
  right: 6px;
  width: 60px;
  height: calc(100% - 115px);
}

#leftpanel button {
  -webkit-app-region: no-drag;
  margin-bottom: 8px;
}

#content {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 45px;
  left: 72px;
  width: calc(100% - 130px);
  height: calc(100% - 55px);
}

#content .webview {
  position: fixed;
  top: 45px;
  left: 72px;
  width: calc(100% - 130px);
  height: calc(100% - 55px);
}

/* .mdl-button--primary.mdl-button--primary .mdl-ripple {
  background-color: rgb(0, 229, 255);
}

.mdl-button--accent.mdl-button--accent .mdl-ripple {
  background-color: rgb(0, 184, 212);
} */
